name: Label sync

on:
  push:
    branches:
      - main
    paths:
      - './github/labels.yml'
  workflow_dispatch:

jobs:
  label-sync:
    name: Sync labels with labels.yml
    runs-on: self-hosted

    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - name: Label sync
      uses: crazy-max/ghaction-github-labeler@548a7c3603594ec17c819e1239f281a3b801ab4d # v6
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
