name: Bot Icon Sync

on:
  schedule:
    - cron: "0 6,18 * * *"
  workflow_dispatch:

jobs:
  run:
    strategy:
      matrix:
        include:
        - bot_name: Blurple Canvas
          secret: BLURPLE_CANVAS_TOKEN
        - bot_name: Blurple Chairs
          secret: BLURPLE_CHAIRS_TOKEN
        - bot_name: Blurple Contests
          secret: BLURPLE_CONTESTS_TOKEN
        - bot_name: Blurple Giveaways
          secret: BLURPLE_GIVEAWAYS_TOKEN
        - bot_name: Blurple Hammer
          secret: BLURPLE_HAMMER_TOKEN
        - bot_name: Blurple Radio
          secret: BLURPLE_RADIO_TOKEN
        - bot_name: Blurple Worker 1
          secret: BLURPLE_WORKER_1_TOKEN
        - bot_name: Blurple Worker 2
          secret: BLURPLE_WORKER_2_TOKEN
        - bot_name: Blurple Worker 3
          secret: BLURPLE_WORKER_3_TOKEN
        - bot_name: Blurplecrafted 1
          secret: BLURPLECRAFTED_1_TOKEN
        - bot_name: Blurplecrafted 2
          secret: BLURPLECRAFTED_2_TOKEN
        - bot_name: Blurplefied
          secret: BLURPLEFIED_TOKEN
        - bot_name: Blurplefier 1
          secret: BLURPLEFIER_1_TOKEN
        - bot_name: Blurplefier 2
          secret: BLURPLEFIER_2_TOKEN
        - bot_name: BlurpleMail
          secret: BLURPLEMAIL_TOKEN

    name: ${{ matrix.bot_name }}
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - name: Set up pnpm
      uses: pnpm/action-setup@v2
      with:
        run_install: false

    - name: Set up node
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
      with:
        node-version-file: ".nvmrc"
        cache: "pnpm"

    - name: Install dependencies
      run: pnpm install --frozen-lockfile

    - name: Set up build cache
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
      id: cache-build
      with:
        path: build
        key: build-${{ github.sha }}

    - name: Build project
      run: npm run build
      if: steps.cache-build.outputs.cache-hit != 'true'

    - name: Change image of ${{ matrix.bot_name }}
      run: npm run start
      env:
        NAME: ${{ matrix.bot_name }}
        TOKEN: ${{ secrets[matrix.secret] }}
